apiVersion: apps/v1
kind: Deployment
metadata:
  name: week2-day4-app
  labels:
    app: week2-day4-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: week2-day4-app
  template:
    metadata:
      labels:
        app: week2-day4-app
    spec:
      containers:
        - name: app
          image: ghcr.io/OWNER/REPO/week2-day4-app:__TAG__
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
